@import url(https://fonts.googleapis.com/css?family=Boogaloo);

/* Main */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Boogaloo", cursive;
  text-align: center;
  color: #019875;
  background-image: url("img/tweed.png");
}

/* Header */
h1 {
  font-size: 4rem;
  padding: 20px;
  margin: 0;
  transition: transform 2s;
}

h1:hover {
  transform: rotateZ(360deg);
}

h2 {
  color: #fff;
  font-size: 2rem;
  margin: 15px;
}

/* Game Board */
.gameboard, table {
  margin: 0 auto;
}

td {
  border: 2px solid #666;
  width: 100px;
  height: 100px;
  background-color: #eee;
  font-size: 3rem;
}

.selected {
  background-color: #ccc;
  color: #019875;
}

/* Reset Button */
#reset {
  display: inline-block;
  font-size: 2rem;
  background-color: #019875;
  color: #fff;
  margin: 35px auto;
  padding: 15px;
  border-radius: 5px;
  -webkit-animation: unlighten 2s 1;
  animation: unlighten 2s 1;
  border: none;
}

#reset:hover {
  background-color: #01cb9c;
  -webkit-animation: lighten 1s 1;
  animation: lighten 1s 1;
}

@keyframes lighten {
  from {
    background-color: #019875;
  }
  to {
    background-color: #01cb9c;
  }
}

@keyframes unlighten {
  from {
    background-color: #01cb9c;
  }
  to {
    background-color: #019875;
  }
}

/* Win Message */
.winMessage {
  width: 100%;
  padding: 30px;
  background-color: black;
  opacity: 0.4;
  color: #fff;
  font-size: 1.5rem;
}
